body {
    background-color: black;
    /* background-repeat: no-repeat; */
    font-family: 'Merriweather', serif;
}

.text-muted {
    color: blue;
}

.last-seconds {
    color: orange;
}

.option {
    margin: 15px;
}

button {
    width: 500px;
}

.container {
    margin-top: 25px;
    padding: 15px;
    /* background-color: #333333; */
    background-image: url('../images/Dragon7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1000px;
    color: white;
    border-radius: 50px;
}

#results {
    color: white;
    opacity: 100;
}

.opaque {
    /* background-color: black; */
    /* opacity: .6; */
}